XML/walidator.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="notka">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="do" type="xs:string"/>
      <xs:element name="od" type="xs:string"/>
      <xs:element name="naglowek" type="xs:string"/>
      <xs:element name="tekst" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema> 